

.conference-form__icon {
  top: 0;
  left: -11px;
  width: 58px;
  position: absolute;
  fill: #d72b2b;
}

.conference-form__icon_right {
  right: -11px;
  left: auto;
}

.conference-form__title {
  z-index: 1;
  text-align: center;
  font-size: 20px;
  position: relative;
}

.conference-form__items-container {
  /* margin-top: 50px; */
  justify-content: space-between;
  z-index: 1;
  position: relative;
  display: flex;
}

.conference-form__type-input.conference-form__type-check {
  display: none;
}

.conference-form__type-check_conference_disabled:before {
  background: rgb(243, 243, 243) !important;
  transition: background .4s ease;
}

.conference-form__item_center {
  display: flex;
  align-items: center;
}

.conference-form__item_row {
  display: flex;
}

.conference-form__label {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin: 0 50px 0 35px;
  position: relative;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  .conference-form__label {
    /* margin-top: 55px; */
  }
}

.conference-form__label:before {
  content: "";
  display: block;
  position: absolute;
  left: -35px;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #a9a9a9;
}

.conference-form__type-check:checked + label:before {
  background: #d72b2b url(/images/check-mark.png) no-repeat center center/60%;
}

.conference-form__container.conference-form__container_wrap {
  flex-wrap: nowrap;
}

.conference-form__item.conference-form__item_width {
  flex: 0 1 100%;
}

@media only screen and (max-width: 767px) {
  .conference-form__items-container {
    flex-wrap: wrap;
  }
}

.conference-form__items-container_start-center {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {
  .conference-form__items-container_start-center {
    flex-wrap: wrap;
  }
}

.conference-form__item {
  flex: 0 0 42%;
}

@media only screen and (max-width: 767px) {
  .conference-form__item {
    flex: 0 0 100%;
  }
}

.conference-form__item_width {
  padding-left: 6px;
  padding-right: 20px;
  flex: 0 0 auto;
}

@media only screen and (max-width: 767px) {
  .conference-form__item_width {
    flex: 0 0 100%;
  }
}

.conference-form__item_full-width {
  flex: 0 0 100%;
}

.conference-form__container {
  /* justify-content: center; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .conference-form__container {
    justify-content: flex-start;
  }
}

.conference-form__container_inline {
  display: inline-block;
}

.conference-form__container_align-top {
  align-items: flex-start;
}

.conference-form__items-container_start {
  justify-content: flex-start;
}

.conference-form__type-input {
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border-bottom: 2px solid #a7a7a7;
  font-size: 17px;
  background: transparent;
  color: #000;
}

.conference-form__type-input::-webkit-input-placeholder {
  color: #000 !important;
}

.conference-form__type-input:-moz-placeholder {
  /* Firefox 18- */
  color: #000 !important;
}

.conference-form__type-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000 !important;
}

.conference-form__type-input:-ms-input-placeholder {
  color: #000 !important;
}

.conference-form__choose {
  margin-top: calc(1em + 10px);
  font-weight: 600;
}

.conference-form__size-btn {
  margin: 0 6px;
}

.conference-form__size-btn_margin {
  margin-left: 0;
}

.conference-form__size-btn_hidden {
  position: absolute;
  opacity: 0;
}

.conference-form__size {
  margin-top: 10px;
  width: 53px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s linear;
  background: #fff;
  color: #000;
}

.conference-form__size-input {
  display: none;
}

.conference-form__size-input:checked + .conference-form__size {
  background: #d72b2b;
  color: #fff;
}

.conference-form__request {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.conference-form__request span {
  display: inline-block;
  width: 75%;
}

.conference-form__request:before,
.conference-form__request:after {
  content: "";
  display: block;
  position: absolute;
  width: 150px;
  height: 1px;
  background: #d72b2b;
}

@media only screen and (max-width: 1480px) {
  .conference-form__request:before,
  .conference-form__request:after {
    width: 60px;
  }
}

@media only screen and (max-width: 991px) {
  .conference-form__request span {
    width: 100%;
  }
  .conference-form__request:before,
  .conference-form__request:after {
    display: none;
  }
}

.conference-form__request:before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.conference-form__request:after {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.conference-form__comment {
  padding: 20px;
  width: 100%;
  height: 200px;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-style: italic;
  font-size: 16px;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  background: #c1c1c1;
  color: #fff;
}

.conference-form__comment::-webkit-input-placeholder {
  color: #fff !important;
}

.conference-form__comment:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}

.conference-form__comment::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}

.conference-form__comment:-ms-input-placeholder {
  color: #fff !important;
}

.conference-form__disclaimer {
  margin-top: 30px;
  font-style: italic;
}

.conference-form__submit {
  background: #d72b2b;
  border: none;
  color: #fff;
  height: 44px;
  padding: 0px 40px;
  font-size: 18px;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}

.js-required {
  font-size: 12px;
  color: #b73636;
  display: block;
  margin: 0 auto;
}

.feedback__button {
  background: #c33939;
  border: none;
  color: #fff;
  height: 44px;
  padding: 0px 40px;
  font-size: 18px;
  margin: 40px auto;
  display: block;
  cursor: pointer;
}

.feedback__success {
  display: none;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 300px;
  text-align: center;
  background: #fff;
  padding: 30px 60px;
  border: 1px solid #ccc;
  z-index: 20;
  margin: auto;
}

.feedback__button:hover {
  background: #b73636;
}

.button__close {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0px;
  right: 3px;
  background: none;
  border: none;
  font-size: 30px;
  color: #8e8e8e;
  transform: rotate(45deg);
  outline: none;
}
.button__close:hover{
  color: #d72b2b;
}

.feedback__success_thanks {
  color: #c33939;
  font-size: 26px;
  display: block;
}

.overlay {
  display: none;
  z-index: 15;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}


.order-form {
    max-width: 720px;
    width: 100%;
    background: #fff;
    color: #000;
    position: absolute;
    z-index: 5;
    box-shadow: 0 10px 20px #353535;
    margin: auto;
    right: 13%;
    top: 7%;
}
.order-form__close-buttom{
  position: absolute;
  right: 4px;
  top: 0px;
  transform: rotate(45deg);
  font-size: 40px;
  color: #a9a9a9;
}
.order-form__block{
  margin: 25px;
}
.order-form__title{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 25px;
}
.order-form__list{
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}
.order-form__item{
  position: relative;
  /*display: flex;*/
  flex-wrap: wrap;
  margin: 12px 0;
  justify-content: space-between;
}
.order-form__type-input,.order-form__type-input-textarea,.order-form__type-input_drop_down {
  width: 100%;
  padding: 15px 20px;
  height: 100%;
  box-sizing: border-box;
  color: #a9a9a9;
  border: 1px solid #a9a9a9;
  font: 400 13.3333px Arial;
}

.order-form__type-input_drop_down {
  color: #737272;
}
.input-textarea{
  height: 100px;
}
.input-captcha{
  width: 65%;
}
.order-form__type__submit{
  background: #d72b2b;
  border: none;
  color: #fff;
  height: 44px;
  padding: 0px 40px;
  font-size: 18px;
  margin: 40px auto;
  display: block;
  cursor: pointer;
}

.order-form__label,.order-form__label_drop_down,.order-form__label_textarea{
  font-size: 12px;
  color: #888888;
  position: absolute;
  left: 17px;
  top: 17px;
}

.order-form__label_err{
  font-size: 12px;
  color: #d72b2b;
  position: absolute;
  left: 17px;
  top: 17px;
}
.error{
  color: #d72b2b;
}
.order-form__type-check{
  display: none;
}
.conference-form__label-error{
  color: #b73636;
}
a.agree:hover {
    text-decoration: underline;
}
.order-form__close-buttom:hover{
  cursor: pointer;
  color: #d72b2b;
}
.overlay-white {
    display: none;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.49);
}

ul.breadcrumb-navigation{
  display: none;
}
.contracts__feedback-banner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.contracts__feedback-img{
  background: url(/images/feedback-banner.jpg);
  background-position: 80% 50%;
  background-size: cover;
  height: 775px;
  width: 100%;
}
.contracts__feedback-form {
    position: absolute;
    right: 13%;
    top: 7%;
    transform: translateY(-50%);
    max-width: 635px;
    width: 100%;
    line-height: 1.5;
}

@media (max-width:1367px) {
.order-form{
  max-width: 650px;
  right: 5%;
  }
.contracts__feedback-img{
  background-position: 40% 50%;
  }
}

@media (max-width:1000px) {
.order-form{
  right: 0;
  left: 0;
  }
}

@media (max-width:799px) {
/* .order-form{
  top: 0;
} */
/* .order-form__type-input{
  padding: 7px;
}
.order-form__label{
  left: 10px;
  top: 10px;
}
.input-textarea {
    height: 100%;
}
.order-form__title{
  margin: 10px;
}
.order-form__item{
  margin: 5px 0;
} */

}

@media (max-width:600px) {
  .input-captcha {
    width: 100%;
}
/* .order-form__item {
    text-align: center;
    position: relative;
    display: block;
  } */

  .feedback__success{
    top: 40%;
    width: 150px;
  }

}
